
# Byte-compiled / optimized 
__pycache__/
*.py[cod]

# simple editor backups
*~

# vim backups
.*.swp

# unit tests
.cache/

# VBBL library
VBBinaryLensingLibrary.o
VBBinaryLensingLibrary_wrapper.so

# Sphinx files
*.doctree

