
# Byte-compiled / optimized 
__pycache__/
*.py[cod]

# simple editor backups
*~

# vim backups
.*.swp

# unit tests
.cache/

# VBBL library
VBBinaryLensingLibrary.o
VBBinaryLensingLibrary_wrapper.so

# AdaptiveContouring library
source/AdaptiveContouring/*.o
source/AdaptiveContouring/*.so

# Sphinx files
*.doctree
docs/_sources/
#docs/_static/

# Example figures
examples/figure_[123].png

