# This workflow is triggered by a new release on GitHub and then uploads
# MulensModel package to PyPI.
name: Upload Python Package to PyPI

on:
  release:
    types: [published]
  push:
    branches: [ "master" ]
  workflow_dispatch:
    inputs:
      disable-publish:
        description: |
          Disables publish to PyPA (default, true for manual runs). Artifacts are
          available in both cases.
        default: true
        type: boolean

jobs:

  build_wheels:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false # If false, continue with other matrix even if one fails
      matrix:
        include:
          - os: linux-x86
            runs-on: ubuntu-latest
          - os: linux-arm
            runs-on: ubuntu-24.04-arm
          - os: macos-x86
            runs-on: macos-15-intel
          - os: macos-arm
            runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_source:
    name: Build sdist
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build

    - name: Build package
      run: python setup.py sdist

    - uses: actions/upload-artifact@v4
      with:
        name: cibw-sdist
        path: dist/*.tar.gz

  publish:
    name: Publish to PyPI
    # Skips if inputs.disable-publish is true or event is a push
    if: ${{ !(inputs.disable-publish) && github.event_name == 'push' }}
    runs-on: ubuntu-latest
    needs: [build_source, build_wheels]

    steps:
    - uses: actions/checkout@v4

    - name: Download sdist and wheelhouse artifacts to dist/
      uses: actions/download-artifact@v4
      with:
        # unpacks all CIBW artifacts into dist/
        pattern: cibw-*
        path: dist
        merge-multiple: true

    - name: Publish package to PyPI
      # All files in dist/ are published
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
        skip-existing: true # added in Oct 2025 in v3.5.X
        verbose: true
